<%= tag.tr id: dom_id(cost), class: "accordion-item",
data: { chartkick_target: "cost",
        date: cost.date,
        value: graph_type === "day" ? cost.cost_details.sum(:price) : testcase(cost.date) 

      } do %>
  <td class="accordion-item">
    <p class="accordion-header" id=<%= "heading#{cost.id}" %>>
      <button 
        class="accordion-button collapsed" 
        type="button"
        data-bs-toggle="collapse" 
        data-bs-target=<%= "#collapse#{cost.id}" %> 
        aria-expanded="false" 
        aria-controls=<%= "collapse#{cost.id}" %>
      >
        <%= cost.date %>
      </button>
    </p>
    <div 
      id=<%= "collapse#{cost.id}" %>
      class="accordion-collapse collapse" 
      aria-labelledby=<%= "heading#{cost.id}" %> 
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Total:<%= cost.cost_details.sum(:price) %><br>
        <% cost.cost_details.each do |cost_detail| %>
          <%= cost_detail.name %>:<%= cost_detail.price %><br>
        <% end %>
      </div>
    </div>
  </td>
<% end %>